body {
  background-color: #EECF74;
}

h1#principal {
  text-align: center;
  font-family: monospace;
  font-size: 2.5em;
}

div{
  display: flex;
  flex-direction: column;
  #botao {
    background-color: #C2AE37;
    margin: auto;
    height: 50px;
    width: 100px;}
  
  #pergunta {
    text-align: center;
  }
  #revelador {
    display: none;
  }
  #resposta {
    scale: 0.7;
    margin: auto;
  }
}